<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.waleed.wallpanther">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">
        <activity
            android:name="com.waleed.wallpanther.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/MainTheme.NoActionBar"></activity>
        <activity
            android:name="com.waleed.wallpanther.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.waleed.wallpanther.MainActivity"
            android:theme="@style/MainTheme"></activity>
        <activity
            android:name="com.waleed.wallpanther.WallpaperActivity"
            android:theme="@style/WallpaperActivity"></activity>
        <activity
            android:name="com.waleed.wallpanther.FullWallpaperActivity"
            android:theme="@style/WallpaperActivity"></activity>

        <receiver android:name="com.waleed.wallpanther.BroadcastNotification" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2960630260772033~5793583979" />
    </application>

</manifest>